body {
	padding: 5px 10px 10px;
	font-size: 12px;
}

section {
	padding: 5px 10px;
}

h1 {
	font-size: 200%;
	font-weight: 200;
}

h1 img {
	max-width: 32px;
	position: relative;
	top: 9px;
}

#popup {
	width: 350px;
}

#notification {
	height: 12px;
	overflow: hidden;
	padding: 10px 0 5px;
}

#text-copied {
	color: #2c8d3a;
}

#version {
	color: #999999;
	font-size: 50%;
}

.asdfast-text {
	width: 100%;
	display: block;
	margin: 2px 0;
	border: 1px solid #dddddd;
}

.copy-button-positioner {
	text-align: right;
	padding: 3px 5px 5px 0;
}

.tab-nav {
	list-style: none;
	padding: 0;
	margin: 0;
}

.tab-nav li {
	display: inline-block;
	background: #999999;
	color: #ffffff;
	padding: 5px 10px;
	cursor: pointer;
}

.tab-nav li:hover {
	background: #666666;
}

.tab-nav li.active {
	background: #dddddd;
	color: #333333;
}

.tab {
	min-height: 245px;
}

.textblock-tall {
	min-height: 210px;
}

.textblock-short {
	min-height: 88px;
}
